.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  // padding: y x
  padding: $m-size 0;
}

// BEM naming convention -> Block Element Modifier
.header__title {
  // 1rem = 16px
  // 3.2rem -> this will be equivalent to 32px
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
